# Start of script
# .gitattributes
# This file defines what languages can show up in the GitHub linguist menu (the menu that tells you what percentage each language is using up on this project.
# Some non-programming languages must be included manually with this file. Want to create your own? Do something similar to what is done here, and name the file
# .gitattributes
# and nothing else, no characters before, no characters after
# Start of linguist script
# Plain Text
*.txt linguist-detectable=false
*.txt linguist-documentation=false
*.txt linguist-language=plain-text
# YAML
*.yml linguist-detectable=true
*.yml linguist-documentation=false
*.yml linguist-language=YAML
*.yaml linguist-detectable=true
*.yaml linguist-documentation=false
*.yaml linguist-language=YAML
# CSV (Comma Separated Values)
*.csv linguist-detectable=true
*.csv linguist-documentation=false
*.csv linguist-language=CSV
# URLL
*.urll linguist-detectable=true
*.urll linguist-documentation=false
*.urll linguist-language=URLL
# URL
*.url linguist-detectable=true
*.url linguist-documentation=false
*.url linguist-language=URL
# Citation File Format (CFF)
*.cff linguist-detectable=false
*.cff linguist-documentation=false
*.cff linguist-language=Citation-File-Format
# ReStructuredText
*.rst linguist-detectable=false
*.rst linguist-documentation=false
*.rst linguist-language=reStructuredText
# MediaWiki WikiText
*.wiki linguist-detectable=false
*.wiki linguist-documentation=false
*.wiki linguist-language=Wikitext
# JSON (JavaScript Object Notation)
*.json linguist-detectable=false
*.json linguist-documentation=false
*.json linguist-language=JSON
# PNG
*.png linguist-detectable=false
*.png linguist-documentation=false
*.png linguist-language=PNG
# GIF
*.gif linguist-detectable=false
*.gif linguist-documentation=false
*.gif linguist-language=GIF
# JPG/JPEG
*.jpg linguist-detectable=false
*.jpg linguist-documentation=false
*.jpg linguist-language=JPG
*.jpeg linguist-detectable=false
*.jpeg linguist-documentation=false
*.jpeg linguist-language=JPEG
# INI
*.ini linguist-detectable=true
*.ini linguist-documentation=false
*.ini linguist-language=INI
# Desktop
*.desktop linguist-detectable=true
*.desktop linguist-documentation=false
*.desktop linguist-language=desktop
# BibTeX
*.bib linguist-detectable=true
*.bib linguist-documentation=false
*.bib linguist-language=BibTeX
# TeX
*.tex linguist-detectable=true
*.tex linguist-documentation=false
*.tex linguist-language=TeX
# Ruby
*.rb linguist-detectable=true
*.rb linguist-documentation=false
*.rb linguist-language=Ruby
*.rake linguist-detectable=true
*.rake linguist-documentation=false
*.rake linguist-language=Ruby
*.gem linguist-detectable=true
*.gem linguist-documentation=false
*.gem linguist-language=Ruby
*.gemspec linguist-detectable=true
*.gemspec linguist-documentation=false
*.gemspec linguist-language=Ruby
*.deps linguist-detectable=true
*.deps linguist-documentation=false
*.deps linguist-language=Ruby
# HTML
*.htm linguist-detectable=false
*.htm linguist-documentation=false
*.htm linguist-language=HTML
*.html linguist-detectable=false
*.html linguist-documentation=false
*.html linguist-language=HTML
*.mhtm linguist-detectable=false
*.mhtm linguist-documentation=false
*.mhtm linguist-language=HTML
*.mhtml linguist-detectable=false
*.mhtml linguist-documentation=false
*.mhtm linguist-language=HTML
*.xhtm linguist-detectable=false
*.xhtm linguist-documentation=false
*.xhtm linguist-language=HTML
*.xhtml linguist-detectable=false
*.xhtml linguist-documentation=false
*.xhtml linguist-language=HTML
# XML
*.xml linguist-detectable=false
*.xml linguist-documentation=false
*.xml linguist-language=XML
# SVG
*.svg linguist-detectable=false
*.svg linguist-documentation=false
*.svg linguist-language=SVG
# Makefile
*.mk linguist-detectable=true
*.mk linguist-documentation=false
*.mk linguist-language=Makefile
*.mak linguist-detectable=true
*.mak linguist-documentation=false
*.mak linguist-language=Makefile
*.make linguist-detectable=true
*.make linguist-documentation=false
*.make linguist-language=Makefile
*.makefile linguist-detectable=true
*.makefile linguist-documentation=false
*.makefile linguist-language=Makefile
# Git
*.editorconfig linguist-detectable=true
*.editorconfig linguist-documentation=false
*.editorconfig linguist-language=Editorconfig
*.gitattributes linguist-detectable=true
*.gitattributes linguist-documentation=false
*.gitattributes linguist-language=Gitattributes
*.gitignore linguist-detectable=true
*.gitignore linguist-documentation=false
*.gitignore linguist-language=Gitignore
*.gitmodules linguist-detectable=true
*.gitmodules linguist-documentation=false
*.gitmodules linguist-language=Gitmodules
# Markdown
# Do not include, as it would become the 100% dominant language and would hide all the other languages as "other"
*.md linguist-detectable=false
*.md linguist-documentation=false
*.md linguist-language=Markdown
*.mkd linguist-detectable=false
*.mkd linguist-documentation=false
*.mkd linguist-language=Markdown
*.mdown linguist-detectable=false
*.mdown linguist-documentation=false
*.mdown linguist-language=Markdown
*.markdown linguist-detectable=false
*.markdown linguist-documentation=false
*.markdown linguist-language=Markdown
# End of linguist script
# File info
# File type: gitattributes file (.gitattributes)
# File version: 5 (2022, Saturday, May 14th at 7:01 pm PST)
# I am still sprucing up this file. I keep forgetting to add things, so this is my 3rd update here today. Hopefully I don't have to make a 4th update today.
# Line count (including blank lines and compiler line): 168
# End of script
