.para0 {
  margin:  0.0000in 0px 0.1965in 0px;
}

.span0 {
  color: #000080;
  text-decoration:  underline;
}

.body0 {
  -epub-writing-mode: horizontal-tb;
  -webkit-writing-mode: horizontal-tb;
  direction: ltr;
  writing-mode: horizontal-tb;
}

.frame0 {
  border: 0.74pt solid #000080;
  width: 0.3543in;
}
