01 Seanpm2001-NextFlow-lang

https://github.com/nextflow-io/nextflow
https://github.com/nextflow-io/patterns
https://github.com/stevekm/nextflow-demos
https://github.com/LukeGoodsell/nextflow-vim

02 Seanpm2001-ReasonML-lang

https://github.com/reasonml/reasonml.github.io
https://github.com/reasonml/reason-native
https://github.com/reasonml/reason-react
https://github.com/reasonml/reason-tools
https://github.com/reasonml/reason
{{https://github.com/reasonml}} /* -- 13 total, 8, 6 DONE to go {
https://github.com/reasonml/ReasonNativeProject
https://github.com/reasonml/ideas-for-project-names-starting-with-re
https://github.com/reasonml/reason-cli
https://github.com/reasonml/upgradeSyntaxFrom2To3
https://github.com/reasonml/rtop
https://github.com/reasonml/red
https://github.com/reasonml/re-cover
https://github.com/reasonml/reason-koans
}

03 Seanpm2001-CapnProto-lang

https://github.com/capnproto/capnproto
https://github.com/capnproto/pycapnp
https://github.com/dwrensha/sandstorm-rust
https://github.com/dwrensha/gitlab-sandstorm
https://github.com/littlemountainman/selfdrive

04 Seanpm2001-CartoCSS-lang

https://github.com/gravitystorm/openstreetmap-carto
https://github.com/OpenRailwayMap/OpenRailwayMap-CartoCSS

05 Seanpm2001-OpenQASM-lang

https://github.com/pnnl/QASMBench
https://github.com/doomhammerhell/openqasm-examples
https://github.com/bsiegelwax/Maximum-Quantum-Classification

06 Seanpm2001-TLA-lang

https://github.com/tlaplus/DrTLAPlus
https://github.com/tlaplus/tlaplus
https://github.com/tlaplus/Examples

07 Seanpm2001-AIDL-lang

https://github.com/hiking90/aidl-cpp/tree/master

08 Seanpm2001-GN-lang

SKIPPED UNTIL FURTHER INFO IS AVAILABLE

09 Seanpm2001-KiCad-Layout-lang

https://github.com/mwelling/pocketbone-kicad
https://github.com/mtiutiu/Hardware_Playground

10 Seanpm2001-Mallard-lang

SKIPPED UNTIL FURTHER INFO IS AVAILABLE

